[submodule "main/thirdparty/sse2neon"]
	path = main/thirdparty/sse2neon
	url = https://github.com/jratcliff63367/sse2neon.git
[submodule "main/test/googletest"]
	path = main/test/googletest
	url = https://github.com/google/googletest.git
